<h1>LIVROS CRIADOS: </h1>
<% for (let i = 0; i < livro.length; i++) { %>
    <p> id: <%= livro[i].id %> </p> 
    <p> titulo: <%= livro[i].titulo %> </p> 
    <p> ano: <%= livro[i].ano %> </p> 
    <p> autor: <%= livro[i].autor %> </p> 
    <p> paginas: <%= livro[i].paginas %> </p> 
    <hr>   
<% } %> 